.products-single {
    flex-flow: row;
    flex-wrap: nowrap;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-start;
}
.center {
    flex-flow: column;
}

.productArea {
    width: 20%;
    height: auto;
    margin-right: calc(13% / 2);
    flex-flow: column;
    /*text-align: center;*/
    /*border: 1px solid black;*/
    list-style: none;
    background-color: #fff;
    float: left;
    transition: box-shadow 0.4s;
    margin-bottom: 50px;
}
.productArea:hover{
    box-shadow:5px 5px 10px #D7D7D7;
}
.productArea:last-of-type {
    margin-right: 0;
}
.ProductImg {
    order: 1;
    margin: auto 5%;
}
.ProductImg img {
    max-width: 100%;
    max-height: 100%;
}
.productMsg {
    font-size: smaller;
    width: 50%;
    order: 2;
}
.productMsg h2 {
    font-weight: bold;
}

.wishBtn-yellow {
    width: 8px;
    height: 8px;
    position: relative;
    background-color: rgb(26, 156, 40);
    transform: rotate(45deg);
    left: 200px;
    bottom: 30px;
    /*top: 250px;*/
}
.wishBtn-yellow:before {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(24, 156, 17);
    left: -4px;
    content: '';

}
.wishBtn-yellow:after {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(22, 156, 21);
    top: -4px;
    content: '';

}

.wishBtn {
    width: 8px;
    height: 8px;
    position: relative;
    background-color: rgb(156, 57, 57);
    transform: rotate(45deg);
    left: 200px;
    bottom: 30px;
    /*top: 250px;*/
}
.wishBtn:before {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(156, 57, 57);
    left: -4px;
    content: '';

}
.wishBtn:after {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(156, 57, 57);
    top: -4px;
    content: '';

}
.page1{
    text-align: center;
    margin-top: 50px;
}
